
body {
    
    max-width: 600px;
    margin: 0px auto;



}

h1 {
    font-size: 40px;
    margin-top: 30px;

}

h1, h2, h3, h4, .project-title {
    
    color: #777;
    font-family: sans-serif;
}

.project-title{
    
    margin-bottom: 10px;
    font-weight: bold;

}

.project{

    margin-left: 20px;

}