
body {
  max-width: 45em;
  margin: auto;
  background: #eee;
}

#content {
  padding-top: 2em;
  padding-left: 2em;
  padding-right: 2em;
  padding-bottom: 2em;
  background: #fff;
  font-family: sans-serif;
}

